@import "flexbox";

body {
    background: #fafafa;
    font: 16px;
    .flex-display();
    .flex-direction(column);
    height: 100vH;
}

.layoutbox(@color) {
    margin: 4px;
    padding: 5px;
    border: 1px solid darken(@color, 20%);
    border-radius: 7pt;
    background: @color;
}

main {
    .layoutbox(#dddd88);
    .flex(1);
    overflow-y: scroll;
}

header {
    .layoutbox(#ffeebb);
}
