@import "flexbox";
@import "../vendor/font-awesome/less/font-awesome";
@fa-font-path: "../vendor/font-awesome/fonts";

html, body {
    min-height: 100vH;
    height: 100vH;
    margin: 0px;
}

body {
    background: #fafafa;
    font: 16px;
    .flex-display();
    .flex-direction(column);
}

@darkGray: #333333;
@offWhite: #fafafa;


.layoutbox(@color) {
    margin: 4px;
    padding: 5px;
    border: 1px solid darken(@color, 20%);
    border-radius: 7pt;
    background: @color;
}

main {
    .layoutbox(#dddd88);
    .flex(1);
    overflow-y: scroll;
}

header {
    margin: 0px;
    background: @darkGray;
    color: @offWhite;

}

nav {
    .flex-display();
    .justify-content(space-between);
}

#searchBar {
    .flex-display();
    max-width: 400px;
    width: 300px;
    margin: 5px;
    input {
        .flex(1);
        background-color: lighten(@darkGray, 50%);
        border: 1px solid lighten(@darkGray, 70%);
        font-size: 16px;
        color: white;
        border-right: 0px;
    }
    button {
        border: 1px solid darken(@darkGray, 110%);
        border: 1px solid lighten(@darkGray, 70%);
        border-radius: 0px;
        // border-left: 0px;
    }
}

ul.queries {
    .flex-display();
    .flex-wrap(wrap);
    padding: 0px;
    margin: 5px;
    li {
        list-style-type: none;
        margin: 3px;
        padding: 3px;
        background: red;
        border-radius: 2px;
    }
}
